{% extends 'base.html' %}
{% block title%} ALL | FILEBASE {%endblock%}



{%block content%}
<h1>ALL FILES HERE</h1>
<table>
    <tr>
        <th> File Name </th>
        <th> Downloads </th>
        <th> Uploaded by </th>
        <th>Belongs to</th>
        <th> Upload Date </th>        
        </tr>


        {% for file in files %}
    <tr class="list-item">
        <td>
            {%if user.is_authenticated %}
            <a href="{% url 'download' file.id %}">{{file.name}} </a>
            {%else%} {{file.name}}
            {%endif%}
        </td> 
        <td>{{file.download_counter}}</td> 
        <td>{{file.uploader}}</td> 
        <td> {{file.company}} </td>
        <td>{{file.upload_date|date:"d.m.Y"}} - {{file.upload_date|date:"H:i"}}</td>         
    </tr>  
    


{% endfor %}
</table>
{%endblock%}